{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "eslint-plugin-react"],
  "rules": {
    "prettier/prettier": "warn",
    "@typescript-eslint/no-unused-vars": ["warn"]
  }
}
